<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">


            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 link-secondary">Главная</a></li>
                <li><a href="{% url 'catalog:list' %}" class="nav-link px-2 link-body-emphasis">Каталог товаров</a></li>
                <li><a href="{% url 'blog:list' %}" class="nav-link px-2 link-body-emphasis">Блог</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control" placeholder="Поиск..." aria-label="Search">
            </form>

            <div class="dropdown text-end">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    Личный кабинет
                </a>
                <ul class="dropdown-menu text-small">
                    {% if user.is_authenticated %}
                    <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a></li>
                    <li><a class="dropdown-item" href="{% url 'users:profile' %}">Профиль</a></li>
                    {% else %}
                    <li><a class="dropdown-item" href="{% url 'users:login' %}">Войти</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{% url 'users:register' %}">Регистрация</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>

