{% extends 'catalog/basic_template.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2 class="display-4">Привет, друг</h2>
    <p class="lead">Я - главная страница сайта о товарах. Мой создатель только начал свой путь в веб разработке,
        многое у него не получается, но он очень пытается. Вот тебе картинка котиков, для отвлечения внимания.
        Для просмотра товаров жмякни на каталог </p>
    <img src="/media/cats/img.png"
         style="max-height: 393px; max-width: 300px;" class="card-img-top" alt="Кот">
    <img src="/media/cats/cute-kitten-clouds_23-2150752838.jpg"
         style="max-height: 1060px; max-width: 700px;" class="card-img-top" alt="Кот">
    <img src="/media/cats/img_1.png"
         style="max-height: 393px; max-width: 300px;" class="card-img-top" alt="Кот">
</div>
{% endblock %}
